extends layout 

block page 
    - var pageTitle = 'Articolo'
block content 
    .articolo 
        h2= article.titolo
        if(article.idAutore === idUtente)
            a.mod-article(href=`/admin/articolo/${article.idArticoli}`) Modifica articolo 
        div 
            img(src=`/img/${article.srcImg}` name="immagine" id="immagine" accept="image/*" required width="100%")
            p= article.corpo
            .autore
                p Autore:&nbsp;
                    span= article.autore
            
            