extends layout 

block page 
    - var pageTitle = 'Dashboard'
    - var menu = 'dashboard'

block content 
        h2.dashboard Benvenuto #{nome}!
        if (articles && !articles[0])
            .container.row
                p Non hai pubblicato articoli al momento. 
                    | Pubblicane uno:&nbsp;
                    a(href="/admin/post") Pubblica post 
        else if (articles && articles[0])
                each article in articles
                    .articoli
                        img(src=`/img/${article.srcImg}` name="immagine" id="immagine" accept="image/*" required width="100%")
                        button(type="button" class="elimina" data-id=`${article.idArticoli}`) Elimina
                        button(type="button" class=(article.publish ? 'nascondi' : 'mostra') data-id=`${article.idArticoli}`).publish
                            if (article.publish)
                                | Nascondi
                            else
                                | Mostra
                        a(href=`/admin/articolo/${article.idArticoli}`)
                            button(type="button").modifica Modifica
                        h2.titolo-dash
                            a(href=`/articolo/${article.idArticoli}`)= article.titolo
                            