extends layout 

block page 
    - var pageTitle = 'Dashboard'
    - var menu = 'dashboard'

block alert 
    if(message)
        p= message

block content
    .container 
        h1 Dashboard
        p Benvenuto!
        if (articles && !articles[0])
            | Non hai pubblicato articoli al momento.
            | Pubblicane uno:&nbsp;
            a(href="/admin/post") pubblica post 
        else if (articles && articles[0])
            .articoli 
                each article in articles
                    button(type="button" class="elimina" data-id=`${article.idArticoli}`) Elimina
                    button(type="button" class="publish" data-id=`${article.idArticoli}`)
                        if (article.publish)
                            | Nascondi
                        else
                            | Mostra
                    a(href=`/admin/articolo/${article.idArticoli}`)
                        button(type="button") Modifica
                    h2 
                        a(href=`/articolo/${article.idArticoli}`)= article.titolo
                            