extends layout 

block page 
    - var pageTitle = 'Homepage'
    - var menu = 'home'

block alert 
    if(message)
        p= message

block content 
    if (!articles[0])
        p 
        | Non ci sono articoli pubblicati al momento.
        | Pubblica tu per primo:&nbsp;
        a(href="/admin/post") Pubblica 
    else 
        .articoli 
            - var unpublish = 0
            each article in articles
                if (article.publish)
                    .articolo
                        h2= article.titolo
                        div 
                            p=  article.corpo.slice(0,250)
                                | ...  
                                a(href=`/articolo/${article.idArticoli}`) vai all'articolo➡️
                            .autore
                                p Autore:&nbsp;
                                p= article.autore
                            if(article.idAutore === idUtente)
                                a(href=`/admin/articolo/${article.idArticoli}`) Modifica articolo
                else 
                    - unpublish++
                    if (articles.length == unpublish)
                        p
                        | Non ci sono articoli pubblicati al momento.
                        | Pubblica tu per primo:&nbsp;
                        a(href="/admin/post") Pubblica 


                            